<% include ../../partials/header %>

<div class="container"> 

    <p>We're sorry, we couldn't verify your first responder status.  TODO MAKE PAGE FOR FIRST RESPONDERS NOT STUDENTS</p>

    <p>Please upload a scan of one of the following so we can verify your enrollment at your university. The document should be dated within the last 4 months.</p>
    <p>Important - the documentation must display:</p>
    <ul>
        <li>Your full name (<%= firstName %> <%= lastName %>)</li>
        <li>The full name of the college/university you are currently attending (<%= organizationName %>))</li>
    </ul>

    <p>Examples of acceptable documentation:</p>
    <ul>
    	<li>School certificate</li>
      	<li>Student ID Card Scan</li>
      	<li>Transcript</li>
      	<li>Registration/Tuition Receipt</li>
    </ul>

    <p>Acceptable formats are: .bmp, .gif, .jpg, .png, or .pdf.</p>

    <% if (error) { %>
        <p><%= error %></p>
    <% } %>

    <div id="upload"></div>

    <p>
        NOTE: If your document scan is too fuzzy to read, does not show your full and legal
        name or shows a name different from the one you are verifying this offer under,
        you will not be able to finalize the verification process. Please do not include any confidential
        information on the uploaded documents, such as social security numbers or banking details.
        Please be sure any sensitive information is blacked out before you upload your document.
    </p> 


    <p>Verification services powered by SheerID.</p>
    <p><a href="https://www.sheerid.com/faqs/">SheerID FAQs &rarr;</a></p>

</div>

<script src="https://services-sandbox.sheerid.com/jsapi/SheerID.js"></script>
<script>
    SheerID.load('asset', '1.0', {
    config: {
        baseUrl: 'https://services-sandbox.sheerid.com/rest/0.5',
        container: 'upload',
        maxFiles: 1,
        success : 'http://rainieroutdoor.herokuapp.com/pending',
        failure : '/firstresponder/upload?requestId=<%= requestId %>',
        token: '<%= assetToken %>'
    }
});
</script>

<% include ../../partials/footer %>
