<% include ../../partials/header %>

<div class="container"> 
    <div class="upload-header">
        <h1>Student document upload</h1>
    </div>

    <div class="upload-container">

        <p>Please upload a scan of one of the following so we can verify your enrollment at your university. The document should be dated within the last 4 months.</p>
        <p>Important - the documentation must display:</p>
        <ul>
            <li>Your full name (<%= firstName %> <%= lastName %>)</li>
            <li>The full name of the college/university you are currently attending (<%= organizationName %>)</li>
        </ul>

        <p>Examples of acceptable documentation:</p>
        <ul>
        	<li>School certificate</li>
          	<li>Student ID Card Scan</li>
          	<li>Transcript</li>
          	<li>Registration/Tuition Receipt</li>
        </ul>

        <p>Acceptable formats are: .bmp, .gif, .jpg, .png, or .pdf.</p>
        
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>

        <form id="upload" action="https://services-sandbox.sheerid.com/rest/0.5/asset" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" name="file">
            </div>
            <input type="hidden" name="token" value="<%= assetToken %>">
            <input type="hidden" name="success" value="http://rainieroutdoor.herokuapp.com/pending">
            <input type="hidden" name="failure" value="http://rainieroutdoor.herokuapp.com/student/upload?requestId=<%= requestId %>">
            <button type="submit" class="btn btn-default">Submit for review</button>
        </form>

        <p class="col-xs-12 upload-note">
            NOTE: If your document scan is too fuzzy to read,
            does not show your full and legal name or shows a name different from the one you are verifying this
            offer under, you will not be able to finalize the verification process. Please do not include any
            confidential information on the uploaded documents, such as social security numbers or banking details.
            Please be sure any sensitive information is blacked out before you upload your document.
        </p>

        <% include ../../partials/sheerid-logo %>
    </div>

</div>

<% include ../../partials/footer %>
